
                        <aside class="sidebar">
                    <div class="sidebar-container">
                        <div class="sidebar-header">
                            <div class="brand">
                                <img src="static/assets/storj-logo.png" style="height: 45px;">&nbsp;&nbsp;<b>OwnStorj</b> Web </div>
                        </div>
                        <nav class="menu">
                            <ul class="nav metismenu" id="sidebar-menu">
                                <li class="active"> <a href="/dashboard">
    						<i class="fa fa-home"></i> Dashboard
    					</a> </li>

						      <li> <a href="/files_manager">
    						<i class="fa fa-pencil-square-o"></i> Files manager
    					</a> </li>

						 <li> <a href="">
    						<i class="fa fa-bar-chart"></i> Buckets manager
    						<i class="fa arrow"></i>
    					</a>
                                    <ul>
                                        <li> <a href="/buckets_list">
    								Your buckets
    							</a> </li>
                                        <li> <a href="/bucket_add">
    								+ Add new bucket
    							</a> </li>
                                    </ul>
                                </li>



                                <li> <a href="">
    						<i class="fa fa-th-large"></i> Account oveview
    						<i class="fa arrow"></i>
    					</a>
                                    <ul>
                                        <li> <a href="/account_stats">
    								Usage statistics
    							</a> </li>
                                        <li> <a href="/billing">
    								Billing
    							</a> </li>
                                    </ul>
                                </li>

                                <li> <a href="">
    						<i class="fa fa-table"></i> Synchronization
    						<i class="fa arrow"></i>
    					</a>
                                    <ul>
                                        <li> <a href="/sync_statistics">
    								Statistics
    							</a> </li>
                                        <li> <a href="/sync_settings">
    								Settings
    							</a> </li>
                                    </ul>
                                </li>

								  <li> <a href="/favorites">
    						<i class="fa fa-pencil-square-o"></i> Favorites
    					</a> </li>

						  <li> <a href="/tags_labels_manager">
    						<i class="fa fa-pencil-square-o"></i> Tags and labels
    					</a> </li>

                            </ul>
                        </nav>
                    </div>
                    <footer class="sidebar-footer">
                        <ul class="nav metismenu" id="customize-menu">
                            <li>
                                <ul>
                                    <li class="customize">
                                        <div class="customize-item">
                                            <div class="row customize-header">
                                                <div class="col-xs-4"> </div>
                                                <div class="col-xs-4"> <label class="title">fixed</label> </div>
                                                <div class="col-xs-4"> <label class="title">static</label> </div>
                                            </div>
                                            <div class="row hidden-md-down">
                                                <div class="col-xs-4"> <label class="title">Sidebar:</label> </div>
                                                <div class="col-xs-4"> <label>
    				                        <input class="radio" type="radio" name="sidebarPosition" value="sidebar-fixed" >
    				                        <span></span>
    				                    </label> </div>
                                                <div class="col-xs-4"> <label>
    				                        <input class="radio" type="radio" name="sidebarPosition" value="">
    				                        <span></span>
    				                    </label> </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-4"> <label class="title">Header:</label> </div>
                                                <div class="col-xs-4"> <label>
    				                        <input class="radio" type="radio" name="headerPosition" value="header-fixed">
    				                        <span></span>
    				                    </label> </div>
                                                <div class="col-xs-4"> <label>
    				                        <input class="radio" type="radio" name="headerPosition" value="">
    				                        <span></span>
    				                    </label> </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-4"> <label class="title">Footer:</label> </div>
                                                <div class="col-xs-4"> <label>
    				                        <input class="radio" type="radio" name="footerPosition" value="footer-fixed">
    				                        <span></span>
    				                    </label> </div>
                                                <div class="col-xs-4"> <label>
    				                        <input class="radio" type="radio" name="footerPosition" value="">
    				                        <span></span>
    				                    </label> </div>
                                            </div>
                                        </div>
                                        <div class="customize-item">
                                            <ul class="customize-colors">
                                                <li> <span class="color-item color-red" data-theme="red"></span> </li>
                                                <li> <span class="color-item color-orange" data-theme="orange"></span> </li>
                                                <li> <span class="color-item color-green active" data-theme=""></span> </li>
                                                <li> <span class="color-item color-seagreen" data-theme="seagreen"></span> </li>
                                                <li> <span class="color-item color-blue" data-theme="blue"></span> </li>
                                                <li> <span class="color-item color-purple" data-theme="purple"></span> </li>
                                            </ul>
                                        </div>

										  <center>
										<a href="/settings" style="background: none; width: 0%;">
    			 <button type="button" class="btn btn-primary"  style="width: 90%; text-align: center;">More settings</button></a>
</center>

                                    </li>
                                </ul> <a href="">
    					<i class="fa fa-cog"></i> Settings
    				</a> </li>
                        </ul>
                    </footer>
                </aside>
