{% extends "base.html" %}
{% block title %}Node details {% endblock %}
{% set active_page = "node_details" %}


{% block content %}


<article class="content item-editor-page">
                    <div class="title-block">
                        <h3 class="title"> Node details <span class="sparkline bar" data-type="bar"></span>
  </h3>
                    </div>
                    <div id="node_details_tab">
          <center> <img src="/static/assets/loader1.gif"> </center>
    </div>
                </article>

{% endblock %}
